@import url ("/home/olavorw/.cache/wal/colors-waybar.css");

/* Catppuccin Mocha colors are assumed from your theme */
window {
  margin: 5px;
  /* Use the same transparent base as Waybar for the acrylic effect */
  background-color: alpha(@background, 0.6);
  border-radius: 20px;
  border: 2px solid @foreground; /* surface1 */
}

#input {
  margin: 10px;
  padding: 5px;
  border: none;
  border-radius: 20px;
  color: @foreground; /* text */
  background-color: @background; /* surface0 */
}

#inner-box {
  margin: 5px;
  border: none;
  background-color: transparent;
}

#outer-box {
  margin: 5px;
  border: none;
  background-color: transparent;
}

#scroll {
  margin: 0px 5px;
  border: none;
  background-color: transparent;
}

#text {
  padding: 5px;
  border: none;
  color: @foreground; /* text */
}

#entry:selected {
  background-color: alpha(foreground, 0.6); /* surface2 */
  border-radius: 10px;
}

#entry:selected #text {
  color: @foreground; /* lavender */
}
